{% extends 'base.html.twig' %}

{% block title %}Demander un RDV{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        .span1 {
            padding: 120px 6px 40px 6px;
            margin-left: 25%;
            margin-right: 25%;
            border-left: 3px solid;
            font-size: 8;
            position: relative;
            top: 40px;
        }

        .div2 {
            display: flex;
            flex-direction: row;
        }

        .boutonValider {
            margin-top: 25%;
        }

        divPartieDroite {
            display: flex;
            flex-direction: column;
        }

    </style>

    <script>

    </script>

    <div class="example-wrapper">
        <center>
            {{ form(form) }}

            <form class="row g-3 needs-validation" novalidate action="validationRDV" method="post">
                <div class="div2">
                    <div class="col-md-3 position-relative">
                        <label for="validationTooltip04" class="form-label">Langue <img src="images/drapeauChoixLangue.png" class="d-block w-100" alt="Erreur de chargement de l'image"/></label>
                        <select class="form-select" id="validationTooltip04" required>
                            <option selected disabled value="">Choisissez une langue</option>
                            <option value="1">Français</option>
                            <option value="2">English</option>
                        </select>
                        <div class="invalid-tooltip"> Sélectionnez une langue valide.</div>

                        <!-- Button trigger modal -->
                        <button type="submit" class="btn btn-primary boutonValider" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Valider
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p>Votre RDV a bien été enregistré!</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-primary" href="/espaceTouriste">
                                            Retour vers Mon Espace
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <span class="span1"></span>

                    <div class="divPartieDroite">
                        <select class="form-select" id="validationTooltip04" required>
                            <option selected value="1">Cette semaine</option>
                            <option value="2">Semaine prochaine</option>
                        </select>
                        <div class="invalid-tooltip"> Sélectionnez une semaine valide.</div>
                        <table class="table text-center">
                            <thead>
                            <tr>
                                <th>
                                    Horaire
                                </th>
                                <th>
                                    Lundi
                                </th>
                                <th>
                                    Mardi
                                </th>
                                <th>
                                    Mercredi
                                </th>
                                <th>
                                    Jeudi
                                </th>
                                <th>
                                    Vendredi
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    8h
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV" value="rdvOk"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    8h30
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    9h
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    9h30
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    10h
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    10h30
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    11h
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    11h30
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    12h
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    12h30
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    13h
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    13h30
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    14h
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    14h30
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    15h
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    15h30
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    16h
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    16h30
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    17h
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    17h30
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                                <td>
                                    <label><input type="radio" name="RDV"/></label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </form>
        </center>


    </div>
{% endblock %}