{% extends 'base.html.twig'%}

{% block title %}{{ controller_name }}{% endblock %}

{% block body%}
<div class="container-fluid py-4">
    <main class="form-signin">
        <div class="row align-items-md-center">
            <div class="col-md-6">
                <h1 class="h3 mb-3 fw-normal">Connexion</h1>
                <form action="{{ path('connexion') }}" method="post">
                    <div class="row g-3">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingInput" name="_username" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" name="_password" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                    </div>
                    <hr class="my-4">
                    <input type="hidden" name="_target_path" value="{{ path('connexionRedirection') }}"/>
                    <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
                </form>
            </div>
            <p>Pas encore de compte ? <a href="/inscription">S'inscrire</a></p>
        </div>
    </main>
</div>
    {% endblock %}

