{% extends 'base.html.twig' %}

{% block title %}Mon espace{% endblock %}

{% block body %}

    <div class="container">
        <a href="{{ path("conseillerRDV") }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Mes rendez-vous</a>
    </div>
{% endblock %}
